.header {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #18191a;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.2rem;
}

.header .name {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header .name {
    margin-bottom: 0;
  }
}
